@media screen and (min-width: 768px) {
  .flex-md-row {
    display: flex;
    flex-direction: row;
  }

  .text-1 {
    font-size: 1.5rem;
  }

  .search-section {
    div {
      width: 60%;
    }

    input {
      width: 80%;
      height: 50px;
    }

    a {
      width: fit-content;
      height: 50px;
    }
  }

  .services-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;

    p {
      font-size: 1.2rem;
    }

    h3 {
      font-size: 1.4rem;
    }
  }

  .more-accommodation {
    display: flex;
    flex-direction: row-reverse;

    div {
      text-align: left;
    }
  }

  footer {
    .footer-logo-container {
      display: none;
    }

    .hidden-element {
      display: inline-block;
    }

    .before-footer {
      width: 60%;
    }
  }

  .more-links {
    justify-content: center;
    align-items: center;

    li {
      padding: 0 5px;
      font-size: 0.9rem;
    }
  }
}
