@media screen and (min-width: 768px) {
  .flex-md-row {
    display: flex;
    flex-direction: row;
  }

  .text-1 {
    font-size: 1.5rem;
  }

  .search-section {
    div {
      width: 60%;
    }

    input {
      width: 80%;
      height: 50px;
    }

    a {
      width: fit-content;
      height: 50px;
    }
  }

  img[alt="Accommodation directory logo"] {
    width: 50px;
    height: 50px;
  }

  .services-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;

    p {
      font-size: 1.2rem;
    }

    h3 {
      font-size: 1.4rem;
    }
  }

  .more-accommodation {
    display: flex;
    flex-direction: row-reverse;

    div {
      text-align: left;
    }
  }

  .before-footer {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    place-items: center;
    column-gap: 2rem;
    width: 100%;
  }

  .subscribe-container {
    width: 100%;

    span {
      padding: 0 0.2rem;
    }
  }

  .filter-form {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr) 1.5fr;
    column-gap: 0.3rem;
    place-items: center;
    width: 100%;

    label {
      width: fit-content;
    }

    a {
      height: 100%;
      width: fit-content;
    }

    .clear-filter-btn {
      min-width: 116px;
    }
  }

  .result-listing {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    column-gap: 0.5rem;
    row-gap: 0.5rem;

    .result-1,
    .result-2,
    .result-3,
    .result-4,
    .result-5,
    .result-6 {
      width: 100%;
    }
  }

  img[alt="accommodation 5"] {
    height: 100px;
    width: 100px;
  }

  .details-display {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    column-gap: 1rem;

    p {
      width: 100%;
    }
  }

  .book-accom {
    width: 100%;
  }
}
