// text colors
.black-text {
  color: $black-color;
}

.white-text {
  color: $white-color;
}

.red-text {
  color: $secondary-color;
}

.green-text {
  color: $primary-color;
}

.grey-text {
  color: $third-color;
}

// font sizes
.small-text {
  font-size: 0.5rem;
}

.medium-text {
  font-size: 0.8rem;
}

.text-1 {
  font-size: 1rem;
}

.text-1-half {
  font-size: 1.5rem;
}

.text-2 {
  font-size: 2rem;
}

.bold-text {
  font-weight: 700;
}

.centered-text {
  text-align: center;
}

.letter-spaced {
  letter-spacing: 1rem;
}
