// text colors
.black-text {
  color: $black-color;
}

.white-text {
  color: $white-color;
}

.red-text {
  color: $secondary-color;
}

.green-text {
  color: $primary-color;
}

// font sizes
.text-1 {
  font-size: 1rem;
}

.text-medium {
  font-size: 1.5rem;
}

.text-2 {
  font-size: 2rem;
}

.bold-text {
  font-weight: 700;
}

.centered-text {
  text-align: center;
}
