// text colors
.text-white {
    color: $white-color;
}
.text-red {
    color: $secondary-color;
}
.text-black {
    color: $black-color;
}

// font sizes
.text-1 {
    font-size: 1rem;
}

.text-medium {
    font-size: 1.5rem;
}

.text-2 {
    font-size: 2rem;
}


.text-bold {
    font-weight: 700;
}
