// margins and paddings
$spaceAmount: (0, 1, 2, 3, 4, 5);

@each $space in $spaceAmount {
  .margin-#{$space} {
    margin: #{$space}rem;
  }

  .margin-x-#{$space} {
    margin: 0 #{$space}rem;
  }

  .margin-y-#{$space} {
    margin: #{$space}rem 0;
  }

  .padding-#{$space} {
    padding: #{$space}rem;
  }

  .padding-x-#{$space} {
    padding: 0 #{$space}rem;
  }

  .padding-y-#{$space} {
    padding: #{$space}rem 0;
  }
}

// flex
@mixin flex-specs ($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $justify;
}

.flex-horizontal-center {
  @include flex-specs(row, center);
}

.flex-vertical-center {
  @include flex-specs(column, center);
}

.flex-space-between {
  @include flex-specs(row, space-between);
}

.centered-horizontal {
  margin: 0 auto;
}

.centered-h-v {
  display: grid;
  place-items: center;
}

// buttons
%button {
  display: inline-block;
  border: none;
  border-radius: 0.5rem;
  margin: 0.2rem;
  text-decoration: none;
  outline: none;
  padding: 0.5rem;
}

.button-primary {
  @extend %button;
  background-color: $primary-color;
}

.button-seconadry {
  @extend %button;
  background-color: $secondary-color;
}

.button-third {
  @extend %button;
  background-color: $third-color;
}

// backgrounds
.secondary-transparent-bg {
  background-color: $secondary-transparent;
}

.third-transparent-bg {
  background-color: $third-transparent;
}

.rounded-corners-1 {
  border-radius: 1rem;
}
