// margins and paddings
$spaceAmount: (0, 1,2,3,4,5);

@each $space in $spaceAmount {
  .margin-#{$space} {
    margin: #{$space}rem;
  }

  .margin-x-#{$space} {
    margin: 0 #{$space}rem;
  }

  .margin-y-#{$space} {
    margin: #{$space}rem 0;
  }

  .padding-#{$space} {
    padding: #{$space}rem;
  }

  .padding-x-#{$space} {
    padding: 0 #{$space}rem;
  }

  .padding-y-#{$space} {
    padding: #{$space}rem 0;
  }
}

// flex
@mixin flex-specs ($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $justify;
}

.flex-horizontal-center {
  @include flex-specs(row, center);
}

.flex-vertical-center {
  @include flex-specs(column, center);
}

.flex-space-between {
  @include flex-specs(row, space-between);
}

.cenetered-element {
  margin: 0 auto;
}
