$primary-color: #00a799;
$primary-transparent: #00a79967;
$secondary-color: #ff585b;
$secondary-transparent: #ff585b8f;
$third-color: #484848;
$third-transparent: #4848487e;
$white-color: #fff;
$black-color: #000000;
$black-transparent: #00000085;
