$primary-color: rgb(211, 86, 73);
$primary-transparent: #00a79967;
$blue-color: rgb(69, 170, 242);
$secondary-color: rgb(211, 86, 73);
$secondary-transparent: #ff585b8f;
$third-color: #484848;
$third-transparent: #4848487e;
$white-color: rgb(255, 255, 255);
$white-trasparent: rgba(255, 255, 255, 0.7);
$black-color: #000;
$black-transparent: #00000085;
$light-grey: rgba(201, 201, 201, 0.6);
$yellow-color: #f6b93b;
