@import 'variables';

* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  overflow-x: hidden;
}

header {
  background-color: $primary-color;
}

img[alt="Accommodation directory logo"] {
  width: 100px;
  height: 100px;
}

img[alt="Accommodation 1"],
img[alt="accommodation 4"] {
  width: 300px;
  height: 300px;
}

.search-section {
  background: linear-gradient(to bottom right, $primary-transparent, $secondary-transparent, $black-transparent, $third-transparent), url("../../img/accommodation-0.svg") center center no-repeat;
  background-size: cover;
  height: 100%;
}

input,
select {
  padding: 0.5rem;
  outline: none;
  border: none;
}

.result-section {
  div {
    height: fit-content;
  }

  p {
    position: absolute;
    top: 8rem;
    left: 3rem;
    padding: 0.3rem;
  }
}

@import 'utilities';
@import 'texts';
@import 'widths-heights';
@import 'media-queries'
