@import 'variables';
@import 'utilities';
@import 'texts';
@import 'widths-heights';

* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  overflow-x: hidden;
}

header {
  background-color: $primary-color;
}

img[alt="Accommodation directory logo"] {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
}

img[alt="Accommodation 1"] {
  width: 300px;
  height: 300px;
  border-radius: 100rem;
}

.search-section {
  background: linear-gradient(to bottom right, $primary-transparent, $secondary-transparent, $black-transparent, $third-transparent), url("../../img/accommodation-0.svg") center center no-repeat;
  background-size: cover;
  height: 100%;

  input {
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: none;
    border: none;
  }
}

.subscrib-econtainer {
  border: 1px solid $third-color;
  margin: 0 auto;

  input {
    border: none;
    outline: none;
    padding: 0.5rem;
    width: 100%;

    &::placeholder {
      color: $third-color;
    }
  }
}
