.margin-0 {
  margin: 0;
}

.margin-x-0 {
  margin: 0 0;
}

.margin-y-0 {
  margin: 0 0;
}

.padding-0 {
  padding: 0;
}

.padding-x-0 {
  padding: 0 0;
}

.padding-y-0 {
  padding: 0 0;
}

.margin-1 {
  margin: 1rem;
}

.margin-x-1 {
  margin: 0 1rem;
}

.margin-y-1 {
  margin: 1rem 0;
}

.padding-1 {
  padding: 1rem;
}

.padding-x-1 {
  padding: 0 1rem;
}

.padding-y-1 {
  padding: 1rem 0;
}

.margin-2 {
  margin: 2rem;
}

.margin-x-2 {
  margin: 0 2rem;
}

.margin-y-2 {
  margin: 2rem 0;
}

.padding-2 {
  padding: 2rem;
}

.padding-x-2 {
  padding: 0 2rem;
}

.padding-y-2 {
  padding: 2rem 0;
}

.margin-3 {
  margin: 3rem;
}

.margin-x-3 {
  margin: 0 3rem;
}

.margin-y-3 {
  margin: 3rem 0;
}

.padding-3 {
  padding: 3rem;
}

.padding-x-3 {
  padding: 0 3rem;
}

.padding-y-3 {
  padding: 3rem 0;
}

.margin-4 {
  margin: 4rem;
}

.margin-x-4 {
  margin: 0 4rem;
}

.margin-y-4 {
  margin: 4rem 0;
}

.padding-4 {
  padding: 4rem;
}

.padding-x-4 {
  padding: 0 4rem;
}

.padding-y-4 {
  padding: 4rem 0;
}

.margin-5 {
  margin: 5rem;
}

.margin-x-5 {
  margin: 0 5rem;
}

.margin-y-5 {
  margin: 5rem 0;
}

.padding-5 {
  padding: 5rem;
}

.padding-x-5 {
  padding: 0 5rem;
}

.padding-y-5 {
  padding: 5rem 0;
}

.flex-horizontal-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
}

.cenetered-element {
  margin: 0 auto;
}

.text-white {
  color: #fff;
}

.text-red {
  color: #ff585b;
}

.text-black {
  color: #000;
}

.text-1 {
  font-size: 1rem;
}

.text-medium {
  font-size: 1.5rem;
}

.text-2 {
  font-size: 2rem;
}

.text-bold {
  font-weight: 700;
}

.width-10 {
  width: 10%;
}

.width-20 {
  width: 20%;
}

.width-30 {
  width: 30%;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

.width-70 {
  width: 70%;
}

.width-80 {
  width: 80%;
}

.width-90 {
  width: 90%;
}

.width-100 {
  width: 100%;
}

.height-10 {
  height: 10%;
}

.height-20 {
  height: 20%;
}

.height-30 {
  height: 30%;
}

.height-40 {
  height: 40%;
}

.height-50 {
  height: 50%;
}

.height-60 {
  height: 60%;
}

.height-70 {
  height: 70%;
}

.height-80 {
  height: 80%;
}

.height-90 {
  height: 90%;
}

.height-100 {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.fa {
  color: #fff;
}

header {
  background-color: #00a799;
}

nav li {
  list-style-type: none;
}

img[alt="Accommodation directory logo"] {
  width: 100px;
  height: 100px;
  border-radius: 100rem;
}

.main-page {
  background: url("../../img/accommodation-0.svg") center center no-repeat;
  background-size: cover;
  height: 100%;
}
