* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  overflow-x: hidden;
}

header {
  background-color: #00a799;
}

img[alt="Accommodation directory logo"] {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
}

img[alt="Accommodation 1"] {
  width: 300px;
  height: 300px;
  border-radius: 100rem;
}

img[alt="accommodation 4"] {
  width: 300px;
  height: 300px;
}

.search-section {
  background: -webkit-gradient(linear, left top, right bottom, from(#00a79967), color-stop(#ff585b8f), color-stop(#00000085), to(#4848487e)), url("../../img/accommodation-0.svg") center center no-repeat;
  background: linear-gradient(to bottom right, #00a79967, #ff585b8f, #00000085, #4848487e), url("../../img/accommodation-0.svg") center center no-repeat;
  background-size: cover;
  height: 100%;
}

input,
select {
  padding: 0.5rem;
  outline: none;
  border: none;
}

.result-section div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.result-section p {
  position: absolute;
  top: 8rem;
  left: 3rem;
  padding: 0.3rem;
}

.margin-0 {
  margin: 0rem;
}

.margin-x-0 {
  margin: 0 0rem;
}

.margin-y-0 {
  margin: 0rem 0;
}

.padding-0 {
  padding: 0rem;
}

.padding-x-0 {
  padding: 0 0rem;
}

.padding-y-0 {
  padding: 0rem 0;
}

.margin-1 {
  margin: 1rem;
}

.margin-x-1 {
  margin: 0 1rem;
}

.margin-y-1 {
  margin: 1rem 0;
}

.padding-1 {
  padding: 1rem;
}

.padding-x-1 {
  padding: 0 1rem;
}

.padding-y-1 {
  padding: 1rem 0;
}

.margin-2 {
  margin: 2rem;
}

.margin-x-2 {
  margin: 0 2rem;
}

.margin-y-2 {
  margin: 2rem 0;
}

.padding-2 {
  padding: 2rem;
}

.padding-x-2 {
  padding: 0 2rem;
}

.padding-y-2 {
  padding: 2rem 0;
}

.margin-3 {
  margin: 3rem;
}

.margin-x-3 {
  margin: 0 3rem;
}

.margin-y-3 {
  margin: 3rem 0;
}

.padding-3 {
  padding: 3rem;
}

.padding-x-3 {
  padding: 0 3rem;
}

.padding-y-3 {
  padding: 3rem 0;
}

.margin-4 {
  margin: 4rem;
}

.margin-x-4 {
  margin: 0 4rem;
}

.margin-y-4 {
  margin: 4rem 0;
}

.padding-4 {
  padding: 4rem;
}

.padding-x-4 {
  padding: 0 4rem;
}

.padding-y-4 {
  padding: 4rem 0;
}

.margin-5 {
  margin: 5rem;
}

.margin-x-5 {
  margin: 0 5rem;
}

.margin-y-5 {
  margin: 5rem 0;
}

.padding-5 {
  padding: 5rem;
}

.padding-x-5 {
  padding: 0 5rem;
}

.padding-y-5 {
  padding: 5rem 0;
}

.flex-horizontal-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.flex-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.centered-horizontal {
  margin: 0 auto;
}

.centered-h-v {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.relative-element {
  position: relative;
}

.button-primary, .button-secondry, .button-third {
  display: inline-block;
  border: none;
  margin: 0.2rem;
  outline: none;
  padding: 0.5rem;
  cursor: pointer;
}

.button-primary {
  background-color: #00a799;
}

.button-secondry {
  background-color: #ff585b;
}

.button-third {
  background-color: #484848;
}

.black-bg {
  background-color: #000;
}

.third-bg {
  background-color: #484848;
}

.primary-transparent-bg {
  background-color: #00a79967;
}

.secondary-transparent-bg {
  background-color: #ff585b8f;
}

.third-transparent-bg {
  background-color: #4848487e;
}

.border-top-bottom-third {
  border-top: 1px solid #484848;
  border-bottom: 1px solid #484848;
}

.border-full {
  border: 1px solid #484848;
}

.rounded-corners-1 {
  border-radius: 1rem;
}

.border-radius-3,
button,
input,
select {
  border-radius: 3px;
}

.cursor-pointer {
  cursor: pointer;
}

.black-text {
  color: #000;
}

.white-text {
  color: #fff;
}

.red-text {
  color: #ff585b;
}

.green-text {
  color: #00a799;
}

.grey-text {
  color: #484848;
}

.small-text {
  font-size: 0.5rem;
}

.medium-text {
  font-size: 0.8rem;
}

.text-1 {
  font-size: 1rem;
}

.text-1-half {
  font-size: 1.5rem;
}

.text-2 {
  font-size: 2rem;
}

.bold-text {
  font-weight: 700;
}

.centered-text {
  text-align: center;
}

.width-10 {
  width: 10%;
}

.width-20 {
  width: 20%;
}

.width-30 {
  width: 30%;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

.width-70 {
  width: 70%;
}

.width-80 {
  width: 80%;
}

.width-90 {
  width: 90%;
}

.width-100 {
  width: 100%;
}

.height-10 {
  height: 10%;
}

.height-20 {
  height: 20%;
}

.height-30 {
  height: 30%;
}

.height-40 {
  height: 40%;
}

.height-50 {
  height: 50%;
}

.height-60 {
  height: 60%;
}

.height-70 {
  height: 70%;
}

.height-80 {
  height: 80%;
}

.height-90 {
  height: 90%;
}

.height-100 {
  height: 100%;
}

@media screen and (min-width: 768px) {
  .flex-md-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .text-1 {
    font-size: 1.5rem;
  }
  .search-section div {
    width: 60%;
  }
  .search-section input {
    width: 80%;
    height: 50px;
  }
  .search-section a {
    width: 20%;
    height: 50px;
  }
}
